
mat-form-field{
    width: 100%;
}
textarea{
    width: 100%;
}
// .login-card{
//     max-width: 500px;
//     display: flex;
//     padding: 0;
//     margin: 0 auto;
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     align-items: center;
//     justify-content: center;
// }
// .mat-header{
//     margin-left: -5px;
//     font-size: 25px;
// }