.lab4-root{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 93%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}
.lab4-map-container {
  flex: 1;
  height: 90%;
  margin: 3% 2%;
  -webkit-box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 24px -4px rgba(0,0,0,0.75);
  padding: 0;
}

tr.mat-footer-row {
  font-weight: bold;
}

.form-root-container{
  flex: 1;
  max-width: 500;
  max-height: 93%;
  margin: 0 3%;
}
.datepicker-container{
  display: flex;
  align-content: center;
  align-items: center;
}
.datepicker{
  flex: 1;
}
#datepicker-from{
  padding-right: 2%;
}
.position-list{
  flex: 1;
  width: 98%;
}
.progressBar{
  height: 3px;
}
/* Medium screens */
@media all and (max-width: 800px) {
  .lab4-root {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    flex-flow: column;
    align-items: stretch;
  }
  .lab4-map-container{
    max-height: 40%;
  }
  .form-root-container{
    max-height: 55%;
  }
}