<div class="lab4-root">

    <div class="lab4-map-container">
    <lab4-map></lab4-map>
    </div>
    <div class="form-root-container" >
        <mat-card class="form-card">
            <mat-card-title-group>
                <mat-card-title>Filter positions</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                <div class="datepicker-container">
            <mat-form-field class="datepicker" #datepickerFrom>
                <input matInput [matDatepicker]="picker" 
                [(max)]="dateTo"
                [(ngModel)]="dateFrom" 
                (ngModelChange)="onDateChanged()"
                placeholder="From">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="datepicker" #datepickerTo>
                <input matInput [matDatepicker]="picker2" 
                [(min)]="dateFrom" 
                [(ngModel)]="dateTo"
                (ngModelChange)="onDateChanged()"
                placeholder="To">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            </div>
            <table mat-table [dataSource]="((dataSource))" class="position-list">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <!-- <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> PositionId </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      <td mat-footer-cell *matFooterCellDef> Total</td>
                    </ng-container> -->
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="longitude">
                      <th mat-header-cell *matHeaderCellDef> Longiutde </th>
                      <td mat-cell *matCellDef="let element"> {{element.geometry.coordinates[1]}} </td>
                      <td mat-footer-cell *matFooterCellDef> Total</td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="latitude">
                      <th mat-header-cell *matHeaderCellDef> Latitude </th>
                      <td mat-cell *matCellDef="let element"> {{element.geometry.coordinates[0]}} </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> Cost </th>
                      <td mat-cell *matCellDef="let element"> {{element.properties.cost}} </td>
                      <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}}</td>                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

                  </table>
            <mat-progress-bar *ngIf="!progressBarHidden" class="progressBar" mode="indeterminate"></mat-progress-bar>
            
            <mat-paginator 
            #positionsPaginator
            [length]=((tableRowsSize))
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
              
                                  
            </mat-paginator>

            </mat-card-content>
        </mat-card>
    </div>
</div>