<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" [mode]="over" #sideMenu closed (close)="onSidenavClose()">
      <lab4-sidebar></lab4-sidebar>
    </mat-drawer>
      <mat-drawer-content>
      <mat-toolbar class="mat-top-toolbar" color="primary">
        <button mat-icon-button id="menuButton" #menuButton (click)="menuButtonClick()">
          <mat-icon>list</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>