    <mat-toolbar class="mat-toolbar mat-toolbar-multiple-rows" color="primary">  
            <a mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the behavior -->
            </a> 
        <mat-toolbar-row>
                <button mat-button routerLinkActive="active" 
                    routerLink="/home">Home</button>
        </mat-toolbar-row>

        <mat-toolbar-row>
                <a mat-button routerLinkActive="active" 
                    routerLink="/login">Login</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
            <a mat-button routerLinkActive="active" 
                routerLink="/register">Register</a>
</mat-toolbar-row>
</mat-toolbar>