.login-card{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
}
.form-content{
    display: flex;
    flex-direction: column;
}

mat-form-field{
    margin-top: 8px;
}
mat-icon{
    margin-right: 5px;
}
// .login-card{
//     max-width: 500px;
//     display: flex;
//     padding: 0;
//     margin: 0 auto;
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     align-items: center;
//     justify-content: center;
// }
// .mat-header{
//     margin-left: -5px;
//     font-size: 25px;
// }