
<mat-card class="login-card" fxFlex>
        <mat-card-title-group>
            <mat-card-title class="login-header">
                {{headerText}}
            </mat-card-title>
        </mat-card-title-group>
        <mat-card-content class="form-content">
        
        <mat-form-field>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button routerLinkActive="active" 
            routerLink="/register">Register</button>
            <button color="primary" mat-raised-button>Login</button>
        </mat-card-actions>
</mat-card>