/* You can add global styles to this file, and also import other style files */

@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';


@include mat-core();
$primary: mat-palette($mat-indigo, 400, 100, 900);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.on-map {
  position: absolute;
  z-index: 1000;
}

.clickable {
  cursor: pointer;
}

.box-frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  font-family: "Roboto";
  font-weight: normal;
}