.register-card{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
}
.form-content{
    display: flex;
    flex-direction: column;
}
mat-form-field{
    margin-top: 8px;
}
mat-icon{
    margin-right: 5px;
}