
<mat-card class="register-card" fxFlex>
        <mat-card-title-group>
            <mat-card-title class="register-header">
                {{headerText}}
            </mat-card-title>
        </mat-card-title-group>
        <form [formGroup]="userRegistrationForm">

        <mat-card-content class="form-content">
        <mat-form-field>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Username" required>
        </mat-form-field>
        <div formGroupName="emailGroup" class="form-content">
        <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
                {{errors.email}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput placeholder="Confirm Email" formControlName="confirmEmail" [errorStateMatcher]="confirmValidParentMatcher" required>
            <mat-error>
                {{errors.confirmEmail}}
            </mat-error>
        </mat-form-field>
        </div>
        <div formGroupName="passwordGroup" class="form-content">
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
            <mat-error>
                {{errors.password}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmValidParentMatcher" required>
            <mat-error>
                {{errors.confirmPassword}}
            </mat-error>
        </mat-form-field>
        </div>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-raised-button>Sign up</button>
        </mat-card-actions>
    </form>
</mat-card>